//
// Modal Page style
// Mobile First CSS Method
// Created by Hiroko Y.
// Date: 2018-12-23
// --------------------------------------------------
.modalTitle {
  font-size: 35px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  text-align: center;
}

// override default bootstrap modal style
.modal-body {
  padding: 25px 0 0 0;
}
.modal-footer {
  text-align: center;
}